<!DOCTYPE html>
<link rel="shortcut icon" href="http://faviconist.com/icons/998abf70db8c3869aeea7dccbb570da5/favicon.ico" />
<html ng-app="app">
<head lang="en">
	<meta charset="UTF-8">
	<title>mcorbridge</title>

	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bower_components/components-font-awesome/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>


 <div class="angularImage" ng-controller="angularImageCrtl"></div>

 <div ng-controller="buttonsCtrl" class="btns">
	    <!--<button ng-click="doRotation()">rotate</button>-->
 </div>

 <div ng-controller="liftCtrl">

		<div class="box1" ng-click="clickIcon('gulp')"></div>	<!-- gulp -->
		<div class="box2" ng-click="clickIcon('java')"></div>	<!-- java -->
		<div class="box3" ng-click="clickIcon('angularjs')"></div>	<!-- angularjs -->
		<div class="box4" ng-click="clickIcon('bower')"></div>	<!-- bower -->
		<div class="box5" ng-click="clickIcon('nodejs')"></div>	<!-- nodejs -->
		<div class="box6" ng-click="clickIcon('android')"></div>	<!-- android -->
		<div class="box7" ng-click="clickIcon('jira')"></div>	<!-- jira -->
		<div class="box8" ng-click="clickIcon('jdo')"></div>	<!-- jdo -->
		<div class="box9" ng-click="clickIcon('greensock')"></div>	<!-- greensock -->
		<div class="box10" ng-click="clickIcon('git')"></div>	<!-- git -->
		<div class="box11" ng-click="clickIcon('firebase')"></div>	<!-- firebase -->
		<div class="box12" ng-click="clickIcon('flex')"></div>	<!-- flex -->
		<div class="box13" ng-click="clickIcon('sass')"></div>	<!-- sass -->
		<div class="box14" ng-click="clickIcon('appEngine')"></div>	<!-- appEngine -->
		<div class="box15" ng-click="clickIcon('air')"></div>	<!-- air -->
		<div class="box16" ng-click="clickIcon('jquery')"></div>	<!-- jquery -->
		<div class="box17" ng-click="clickIcon('gradle')"></div>	<!-- gradle -->
		<div class="box18" ng-click="clickIcon('mongodb')"></div>	<!-- mongodb -->

		<div class="lift" ng-click="startSequence()">
			<div class="Lgripper"></div>
			<div class="Rgripper"></div>
			<div class="mech"></div>
			<div class="Lgear"></div>
			<div class="Rgear"></div>
		</div>

 </div>

 <div class="redBox"></div>
 <div class="blueBox"></div>
 <div class="yellowBox"></div>
 <div class="blackBox"></div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script  src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script  src="https://code.angularjs.org/1.2.21/angular.js"></script>
<script src="bower_components/GreenSock-JS/BezierPlugin.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.1/TweenMax.min.js"></script>
<script src="bower_components/angular-ui-router-styles/ui-router-styles.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>



<script src="app.js"></script>


</body>
</html>