
body{
	overflow:hidden;
	background-image: url('http://www.zingerbugimages.com/backgrounds/gray_and_white_mini_grid_seamless_tileable_background_pattern.gif');
}

.bizCard{
	border: 2px solid #000000;
	width:280px;
	height:600px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-300px 0 0 -140px;
}

.top{
	height: 200px;
	width: 100%;
	background-color: #646d3e;
	border-bottom: solid #000000 15px;
}
.middle{
	height: 120px;
	width: 100%;
	background-color: #FEFBE0;
}
.bottom{
	height: 276px;
	width: 100%;
	background-color: #b78e3f;
	border-top: solid #000000 15px;
}

.circleC {
	position: absolute;
	top: 130px;
	left: 70px;
	border-radius: 50%;
	-webkit-border-radius: 50%; /* Safari, Chrome */
	-moz-border-radius: 50%; /* Firefox */
	border:solid #000000 15px;
	width: 120px;
	height: 120px;
	/* width and height can be anything, as long as they're equal */
}

.circleR{
	position: absolute;
	top: 145px;
	left: 85px;
	width: 90px;
	height: 90px;
	background-color: #ce3d3a;
	-webkit-border-radius: 45px; /* Safari, Chrome */
	-moz-border-radius: 45px; /* Firefox */
	border-radius: 45px; /* CSS3 */
}

.capC{
	position: absolute;
	top: 151px;
	left: 88px;
	width: 124px;
	height: 124px;
	background-repeat: no-repeat;
	background-image: url('images/capc.png');
}

.angularImage{
	position: absolute;
	top: 151px;
	left: 0px;
	width: 1000px;
	height: 300px;
	background-repeat: no-repeat;
	background-image: url('images/AngularJS.png');
	visibility: hidden;
}

/* ---------------------------- top lifter -------------------------*/

.lift{
	position: relative;
	top: -1600px;
	left: 515px;
	width: 225px;
	height: 1830px;
	background-repeat: no-repeat;
	background-image: url('images/newRod.png');
	background-position: center top;
}

.mech{
	position: absolute;
	bottom: 155px;
	left: 1px;
	width: 224px;
	height: 20px;
	background-color: #000;
	border: 2px solid;
	border-radius: 5px;
}

.Lgripper{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 49px;
	height: 168px;
	background-repeat: no-repeat;
	background-image: url('images/Lgripper.png');
}

.Rgripper{
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 49px;
	height: 168px;
	background-repeat: no-repeat;
	background-image: url('images/Rgripper.png');
}

.Lgear{
	position: absolute;
	bottom: 143px;
	right: 198px;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-image: url('images/gear.png');
}

.Rgear{
	position: absolute;
	bottom: 143px;
	right: 0px;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-image: url('images/gear.png');
}

/* ---------------------------- bottom lifter -------------------------*/

.liftBottom{
	position: relative;
	top: 0px;
	left: 0px;
	width: 225px;
	height: 1830px;
	background-repeat: no-repeat;
	background-image: url('images/newRod.png');
	background-position: center top;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	z-index: 50;
}

.mechBottom{
	position: absolute;
	bottom: 155px;
	left: 1px;
	width: 224px;
	height: 20px;
	background-color: #000;
	border: 2px solid;
	border-radius: 5px;
}

.LgripperBottom{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 49px;
	height: 168px;
	background-repeat: no-repeat;
	background-image: url('images/Lgripper.png');
}

.RgripperBottom{
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 49px;
	height: 168px;
	background-repeat: no-repeat;
	background-image: url('images/Rgripper.png');
}

.LgearBottom{
	position: absolute;
	bottom: 143px;
	right: 198px;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-image: url('images/gear.png');
}

.RgearBottom{
	position: absolute;
	bottom: 143px;
	right: 0px;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-image: url('images/gear.png');
}

/*        ------------------ icons --------------------- */

.box1{
	position: absolute;
	top: 840px;
	left: 577px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url('images/gulpIcon.png');
	border: solid 1px #ea4a4a;
	border-radius: 10px;
	visibility: hidden;
}

.box2{
	position: absolute;
	top: 840px;
	left: 578px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url('images/javaIcon.png');
	border-radius: 23px;
	visibility: hidden;
}

.box3{
	position: absolute;
	top: 840px;
	left: 578px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url('images/angularIcon.png');
	border: solid 1px #b2b2b2;
	border-radius: 10px;
	visibility: hidden;
 }

.box4{
	position: absolute;
	top: 840px;
	left: 578px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url('images/bowerIcon.png');
	border-radius: 50px;
	visibility: hidden;
}

.box5{
	position: absolute;
	top: 840px;
	left: 578px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url('images/nodejsIcon.png');
	border-radius: 50px;
	visibility: hidden;
}

.box6{
	position: absolute;
	top: 840px;
	left: 578px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url('images/androidIcon.png');
	border-radius: 23px;
	visibility: hidden;
}

.box7{
	position: absolute;
	top: 810px;
	left: 490px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url('images/jiraIcon.png');
	visibility: hidden;
}

.box8{
	position: absolute;
	top: 810px;
	left: 490px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url('images/jdoIcon.png');
	border: solid 1px #5e5a94;
	border-radius: 10px;
	visibility: hidden;
}

.box9{
	position: absolute;
	top: 810px;
	left: 490px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url('images/greenSockIcon.png');
	visibility: hidden;
}

.box10{
	position: absolute;
	top: 810px;
	left: 490px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url('images/gitIcon.png');
	border-radius: 50px;
	visibility: hidden;
}

.box11{
	position: absolute;
	top: 810px;
	left: 490px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url('images/firebaseIcon.png');
	border-radius: 5px;
	visibility: hidden;
}

.box12{
	position: absolute;
	top: 810px;
	left: 490px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url('images/flexIcon.png');
	border-radius: 5px;
	visibility: hidden;
}

.box13{
	position: absolute;
	top: 810px;
	left: 490px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url('images/sassIcon.png');
	border: solid 1px #d7b7c7;
	border-radius: 10px;
	visibility: hidden;
}

.box14{
	position: absolute;
	top: 810px;
	left: 490px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url('images/appEngineIcon.png');
	border: solid 1px #003c79;
	border-radius: 10px;
	visibility: hidden;
}

.box15{
	position: absolute;
	top: 810px;
	left: 490px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url('images/airIcon.png');
	visibility: hidden;
}

.box16{
	position: absolute;
	top: 810px;
	left: 490px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url('images/jQueryIcon.png');
	border: solid 1px #0868ab;
	border-radius: 10px;
	visibility: hidden;
}

.box17{
	position: absolute;
	top: 810px;
	left: 490px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url('images/gradleIcon.png');
	border: solid 1px #026536;
	border-radius: 50px;
	visibility: hidden;
}

.box18{
	position: absolute;
	top: 810px;
	left: 490px;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-image: url('images/mongodbIcon.png');
	border-radius: 23px;
	visibility: hidden;
}

/*        ---------------------------------------- */

.blueBox{
	position: absolute;
	top: 100px;
	left: 100px;
	width: 100px;
	height: 100px;
	background-color: blue;
	visibility: hidden

}

.redBox{
	position: absolute;
	top: 210px;
	left: 100px;
	width: 100px;
	height: 100px;
	background-color: red;
	visibility: hidden
}

.yellowBox{
	position: absolute;
	top: 320px;
	left: 100px;
	width: 100px;
	height: 100px;
	background-color: yellow;
	visibility: hidden
}

.blackBox{
	position: absolute;
	top: 430px;
	left: 100px;
	width: 100px;
	height: 100px;
	background-color: black;
	visibility: hidden;
}

.btns{
	position: absolute;
	top: 100px;
	left: 900px;
}

.header{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 275px;
	background-color: whitesmoke;
	box-shadow: 0 4px 2px -2px gray;
}

.tab{
	position: absolute;
	bottom: -20px;
	left: 800px;
	width: 40px;
	height: 20px;
	background-color: #000000;
	box-shadow: 0 4px 2px -2px gray;
}

.start{
	position: absolute;
	top: 810px;
	left: 490px;
	width: 222px;
	height: 227px;
	background-repeat: no-repeat;
	background-image: url('images/startIcon.png');
	border-radius: 23px;
}

